*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 58, 74);
    color: white;
}

h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 50px;
}

#container{
    max-width: 90%;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 60px;
    height: 60px;
    background-color: rgb(39, 84, 123);
}

.box1{
    background-color: pink;
}
.box2{
    background-color: lightblue;
}
.box3{
    background-color: lightcoral;
}